@import "../../styles/variables.scss";

.exclusive_update_container {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  background: $global-color-897cb8d;
  .exclusive_restructure_container {
    width: 100%;
    height: 100%;
    max-width: 80%;
    margin: auto;
    .exclusive_content_container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1.5rem;
      h2 {
        color: $global-color-primary;
      }
      p {
        color: $global-color-secondary;
      }
    }
    .exlusive_details_container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
      .custom_input {
        width: 100%;
        border-radius: 10px;
        height: 58px;
        background: $global-color-secondary;
        input {
          width: 100%;
          height: 100%;
          box-shadow: none;
          padding: 0 2rem;
          border-radius: 10px;
          border: none;
        }
      }
      .btn_container {
        button {
          width: 100%;
          min-width: 201px;
          min-height: 58px;
          height: 100%;
          white-space: nowrap;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .exclusive_update_container {
    .exclusive_restructure_container {
      .exclusive_content_container {
        h2 {
          width: 100%;
          text-align: center;
        }
        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .exclusive_update_container {
    padding: 4rem 1rem;
    .exclusive_restructure_container {
      max-width: 100%;
      .exlusive_details_container {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
