$global-color-primary: #000000;
$global-color-secondary: #ffffff;
$global-color-text: #7a7a7a;
$global-color-accent: #ffba00;
$global-color-0eabca8: #c0c0c0;
$global-color-897cb8d: #ffba00;
$global-color-230929w: #007936;
$global-color-0823032: #cc3433;
$global-color-8030830: #171717;
$whiteWithOpacity: #ffffff26;
